.DS_Store
mturk
dave*
katey*
Video*
models/1_threshold_modals/param-estimation-output/*/*.json
.Rhistory
runs
runs_nu
*.aux
*.bbl
*.blg
*.bcf
*_files
*_cache
_stan_models
papers/cognition/*.log
papers/cognition/*.run.xml
*.synctex.gz
papers/cognition/cognition_paper_jd.pdf
papers/cognition/cognition_paper.pdf
papers/cogsci2019/*.log
papers/cogsci2019/*.run.xml
papers/cogsci2019/main.pdf
models/2_adaptation_model/bayesian-runs/**/run*
models/2_adaptation_model/bayesian-runs/**/likelihood*
models/2_adaptation_model/bayesian-runs/**/hdi_samples*
models/2_adaptation_model/bayesian-runs-balanced/**/run*
models/2_adaptation_model/bayesian-runs-balanced/**/likelihood*
models/2_adaptation_model/bayesian-runs-balanced/**/hdi_samples*
models/3_comprehension_model/bayesian-runs/**/run*
models/3_comprehension_model/bayesian-runs/**/likelihood*
models/3_comprehension_model/bayesian-runs/**/hdi_samples*
models/3_comprehension_model/bayesian-runs-balanced/**/run*
models/3_comprehension_model/bayesian-runs-balanced/**/likelihood*
models/3_comprehension_model/bayesian-runs-balanced/**/hdi_samples*


### output of bayesian runs

models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.025_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.05_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.075_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.125_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.15_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.175_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.1_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-0.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-1_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-0/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-2.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-1.3/
models/2_adaptation_model/bayesian-runs/mu-0.2_nu-3.5_cost-1.5/
models/2_adaptation_model/bayesian-runs/mu-0_nu-0_cost-0.1/
models/2_adaptation_model/bayesian-runs/mu-0_nu-0_cost-0.3/
models/2_adaptation_model/bayesian-runs/mu-0_nu-0_cost-0.5/
models/2_adaptation_model/bayesian-runs/mu-0_nu-0_cost-0.7/
models/2_adaptation_model/bayesian-runs/mu-0_nu-0_cost-0.9/
models/2_adaptation_model/bayesian-runs/mu-0_nu-0_cost-1.1/
models/2_adaptation_model/bayesian-runs/mu-0_nu-0_cost-1.5/
